.character-page {
  /* background-color: rgba(175, 60, 60, 0.705); */
  color: blueviolet;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
}
.marvelCard {
  width: 15vw;
  border-radius: 10px;
  background-color: rgba(175, 60, 60, 0.322);

  /* border: solid cyan 2px; */
  min-height: 300px;
}
