.title {
  color: black;
  font-size: 1.25em;
  font-weight: 400;
}
#comicPic {
  height: 20vh;
}
.comicCard {
  display: flex;
  flex-shrink: 0;
  min-width: 355px;
  background-color: rgba(239, 241, 243, 0.404);
  gap: 20px;
  margin-top: 1vh;
}
.comicCard:hover {
  transform: scale(1.015);
  box-shadow: 1px 1px 30px 10px rgba(189, 25, 181, 0.493);
  cursor: pointer;
}
.comic-card-component {
  flex-wrap: wrap;
  /* border: solid cyan 5px; */
  min-width: 395px;

  overflow-y: scroll;
  height: 80vh;
  padding: 5.3vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
.card-text-container {
  display: flex;
  justify-content: space-between;
}
.descrpition {
  font-weight: 300;
  padding-right: 2vw;
  text-align: justify;
}
