.nameBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vh;
  padding-right: 1.5vh;
  max-height: 5vh;
}
.marvelName {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: rgba(255, 217, 0, 0.822);
}
#marvelPic {
  height: 18vh;
  width: 100%;
  object-fit: cover;
}
.marvelDescription {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  height: 1 em;
  text-align: left;
}
.noDecoration {
  text-decoration: none;
}
.starIcon {
  color: "lightgrey";
  height: 30;
  width: 30;
}
.goldIcon {
  color: "gold";
}
.character-component {
  color: blueviolet;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  gap: 40px;
  overflow-y: scroll;
  padding: 5.3vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
