.header-logo-wrap {
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  width: 100%;
  left: 10%;
  right: 10%;
}
#headerLogo {
  max-height: 7vh;
}
.skybox-wrapper {
  position: absolute;
  top: 0;
  background-color: rgba(255, 0, 0, 0.822);
  width: 100vw;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-right: 2vw;
}
.menu .link-text:hover {
  display: flex;
  height: 20%;

  padding: 0.6vw;
  margin-bottom: 0.03vh;
  margin-top: -0.01vh;
  /* border-bottom: 1% solid rgba(185, 29, 29, 0.733); */
  color: rgb(255, 217, 0);
  box-shadow: 1.3px 0.7px 2px 2.2px rgb(255, 217, 0);
  width: 100%;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.log-out {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
