.search-component {
  display: flex;
  justify-content: center;
  /* flex: 1; */
  gap: 0.5vw;
  min-height: 3.5vh;
  max-width: 30vw;
  /* position: absolute;
  top: 80;
  left: 10%;
  right: 10%; */
}
#search {
  /* outline: none; */
  flex: 2;
  border: none;
  color: black;
  font-size: large;
  font-weight: 500;
  padding-left: 0.4vw;

  border: 0.3px solid rgba(0, 0, 0, 0.644);
  background-color: rgba(247, 244, 244, 0.582);
  border-radius: 4px;
}
#search-button {
  flex: 0.5;
  padding-left: 2vw;
  border: 2px solid rgba(18, 19, 18, 0.37);
  /* text-align: center; */
  border-radius: 4px;
  color: white;
  /* font-size: large; */
  font-weight: 600;
  /* background-color: rgba(164, 44, 168, 0.342); */

  background-color: rgba(197, 35, 189, 0.596);
}
#search-button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px 3px rgba(30, 32, 30, 0.37);
}
